//// main scss star
//section-shop
.path-title {
    display: flex;
    padding: 20px 0;
    li {
        padding-right: 11px;
        a {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #a9a9a9;
        }
        .active {
            color: #000;
        }
    }
}
.section-title {
    h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: #103742;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #103742;
    }
}
.section-shop {
    justify-content: space-between;
    display: flex;
    &--left {
        width: 50%;
        .lSSlideOuter .lSPager.lSGallery {
            margin: 10px 21%;
        }
        img {
            width: 450px;
            height: 420px;
            object-fit: fill;
        }
    }
    &--right {
        .rating {
            display: flex;
            align-items: center;
            padding-bottom: 16px;
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #103742;
            }
            ul {
                display: flex;
                padding-right: 30px;
                padding-left: 20px;
                li {
                    a {
                        i {
                            color: #ffc107;
                        }
                    }
                }
            }
            .btn-discount {
                background: #e9061a;
                border-radius: 50px;
                padding: 2px 10px;

                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                color: #ffffff;
            }
        }
        .price {
            padding-bottom: 15px;
            &-new {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 22px;
                color: #103742;
            }
            &-old {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                text-decoration-line: line-through;
                color: #a9a9a9;
            }
        }
        .info {
            display: none;
            transition: 0.9s all;

            &-shop {
                width: 570px;
                background: #ffffff;
                border: 0.1px solid #939c9e;
                box-sizing: border-box;
                border-radius: 8px;
                padding: 25px;
                .item {
                    border: 0.5px solid #e2e2e2;
                    box-sizing: border-box;
                    border-radius: 4px;
                    position: relative;
                    cursor: pointer;
                    .plus-icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-18px, -18px);
                        display: none;
                    }
                    &:hover:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.2);
                    }
                    &:hover {
                        .plus-icon {
                            display: block;
                        }
                    }
                }
                .owl-nav {
                    display: block;
                    button {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-18px);
                        font-size: 20px;
                    }
                    .owl-prev {
                        left: -20px;
                    }
                    .owl-next {
                        right: -20px;
                    }
                }
                .shop-comment--title {
                    width: 34%;
                }
                .shop-comment {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    display: none;
                    padding-top: 25px;
                    &--left {
                        input {
                            width: 382px;
                            height: 148px;
                            padding-bottom: 110px;
                            padding-left: 10px;
                            background: #ffffff;
                            border: 0.1px solid #939c9e;
                            box-sizing: border-box;
                            border-radius: 5px;
                        }
                    }
                    &--right {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        a {
                            text-decoration: underline;
                        }
                        .modal-dialog {
                            max-width: max-content;
                        }
                        .modal-header {
                            padding: 0;
                            border-bottom: unset;
                        }
                        .modal-body {
                            img {
                                width: 100%;
                            }
                        }
                        #myImg:hover {
                            opacity: 0.7;
                        }
                        .modal {
                            display: none;
                            position: fixed;
                            z-index: 99;
                            padding: 36px 27px;
                            left: unset;
                            width: 20%;
                            height: auto;
                            background-color: #ffffff;
                            right: 30%;
                            top: 4%;
                            width: 421.95px;
                            height: 528.49px;
                        }
                        .modal-content {
                            display: block;
                            max-width: 700px;
                            height: -webkit-fill-available;
                        }
                        .modal-content {
                            -webkit-animation-name: zoom;
                            -webkit-animation-duration: 0.6s;
                            animation-name: zoom;
                            animation-duration: 0.6s;
                        }
                        @-webkit-keyframes zoom {
                            from {
                                -webkit-transform: scale(0);
                            }
                            to {
                                -webkit-transform: scale(1);
                            }
                        }
                        @keyframes zoom {
                            from {
                                transform: scale(0.1);
                            }
                            to {
                                transform: scale(1);
                            }
                        }
                        .close {
                            position: absolute;
                            top: -7px;
                            right: 14px;
                            color: #f1f1f1;
                            font-size: 33px;
                            font-weight: bold;
                            transition: 0.3s;
                        }
                        .close:hover,
                        .close:focus {
                            color: #bbb;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                    #js-text-block {
                        position: absolute;
                        top: 87px;
                        left: 21%;
                        font-size: 6px;
                        width: 57px;
                        overflow: hidden;
                    }
                    #js-text-block1 {
                        position: absolute;
                        top: 42%;
                        left: 29%;
                        font-size: 22px;
                        height: 165px;
                        width: min-content;
                        overflow: hidden;
                        text-align: center;
                    }
                }
                .checked-section {
                    display: flex;
                }
            }
        }
        .info-active {
            display: block;
        }
        .size-options {
            padding-top: 25px;
            .items {
                display: flex;
                justify-content: space-between;
                padding-bottom: 35px;
                .item {
                    width: 170px;
                    height: 107px;
                    background: #ffffff;
                    border: 0.1px solid #939c9e;
                    box-sizing: border-box;
                    border-radius: 3px;
                    padding: 22px 26px;
                    text-align: center;
                    cursor: pointer;
                    &:hover {
                        border: 1px solid #962689;
                    }
                    &:nth-child(2) {
                        margin: 0 10px;
                    }
                    span {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                        color: #103742;
                    }
                    h6 {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        text-align: center;
                        color: #103742;
                    }
                }
                .item-active {
                    border: 1px solid #962689;
                }
            }
            .items-btns {
                display: flex;
                flex-direction: column;
                .fast-order {
                    background: #962689;
                    color: #ffffff;
                    border-radius: 5px;
                    padding: 13px 0;
                    text-align: center;
                    margin-bottom: 15px;
                }
                .add-card {
                    background: #ffffff;
                    border: 0.1px solid #939c9e;
                    box-sizing: border-box;
                    border-radius: 5px;
                    padding: 13px 0;
                    text-align: center;
                }
            }
        }
        p {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #103742;
            a {
                padding-left: 15px;
            }
        }
        a {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #962689;
        }
    }
}
//section-information
.section-information {
    padding-top: 80px;
    padding-bottom: 80px;
    #tab-info {
        .nav-tabs {
            background: #ffffff;
            border: 0.1px solid #939c9e;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 13px 40px;
            li {
                padding-right: 100px;
                a {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                    color: #103742;
                }
                .active {
                    color: #962689;
                }
            }
        }
        .tab-content {
            #nav-first {
                h4 {
                    padding-top: 30px;
                    padding-bottom: 20px;
                }
                ul {
                    width: fit-content;
                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 10px;
                        a {
                            padding-right: 120px;

                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 22px;
                            color: #103742;
                        }
                    }
                }
            }
            #nav-second {
                h3 {
                    padding-top: 35px;
                    padding-bottom: 25px;
                }
                #tab-owl {
                    background: #ffffff;
                    border-radius: 5px;
                    padding: 30px 11px;
                    .owl-carousel {
                        .owl-stage-outer {
                            padding-top: 20px;
                            .item {
                                width: 250px;
                                height: 200px;
                                position: relative;
                                background: #ffffff;
                                border: 1px solid #e2e2e2;
                                box-sizing: border-box;
                                border-radius: 10px;
                                padding: 25px 10px 35px;
                                text-align: center;
                                img {
                                    position: absolute;
                                    width: 35px;
                                    height: 32px;
                                    top: -10px;
                                }
                                p {
                                }
                            }
                        }
                        .owl-nav {
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            top: -30px;
                            right: -43px;
                            button {
                                background: #ffffff;
                                border: 0.5px solid #e2e2e2;
                                box-sizing: border-box;
                                border-radius: 4px;
                                padding: 1px 8px !important;
                            }
                            .owl-prev {
                                margin-bottom: 4px;
                            }
                        }
                    }
                }
            }
            #nav-third {
                h4 {
                    padding-top: 35px;
                    padding-bottom: 25px;
                }
                a {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    color: #103742;
                }
            }
        }
    }
}
//section-gifs
.section-gifs {
    background: #ffffff;
    h4 {
        padding-top: 35px;
        padding-bottom: 25px;

        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #103742;
    }
    .owl-carousel {
        padding-left: 0;
        .owl-item {
            border: 0.5px solid #e2e2e2;
            box-sizing: border-box;
            border-radius: 5px;
            background-color: white;
            .item {
                position: relative;
                &-info {
                    padding: 40px;
                    text-align: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.4);
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: 0.6s all;
                    cursor: pointer;
                    h5 {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 21px;
                        color: #ffffff;
                    }
                    h6 {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        color: #ffffff;
                        padding-bottom: 46px;
                    }
                    span {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #ffffff;
                        padding-bottom: 10px;
                    }
                    a {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                        color: #ffffff;
                        padding: 8px 26px;
                        background: #962689;
                        border-radius: 2px;
                    }
                }
                &:hover {
                    .item-info {
                        opacity: 1;
                    }
                }
                img {
                }
            }
        }
        .owl-nav {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: -18px;
            button {
                background: #ffffff;
                border: 0.5px solid #e2e2e2;
                box-sizing: border-box;
                border-radius: 2px;
                padding: 1px 8px !important;
            }
        }
    }
    .show-all {
        display: block;
        text-align: right;

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #962689;
        padding-bottom: 30px;
        cursor: pointer;
    }
}
//section-delivery
.section-delivery {
    &--title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #103742;
        padding-top: 70px;
        padding-bottom: 20px;
    }
    &--items {
        display: flex;
        justify-content: space-between;
        .item {
            width: 258px;
            h6 {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #103742;
                padding-top: 24px;
            }
            p {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                text-align: justify;
                color: #103742;
            }
            .icon-box {
                width: 50px;
                height: 50px;
            }
            .icon-shipped {
                width: 60px;
                height: 38px;
            }
            .icon-flower {
                width: 43px;
                height: 43px;
            }
        }
    }
    .delivery-options {
        ul {
            li {
                list-style-type: revert;
                color: #962689;
                a {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    text-align: justify;
                    color: #103742;
                }
            }
        }
        &--items {
            display: flex;
            padding-top: 48px;
            .delivery-options--item {
                margin-right: 80px;
            }
        }
        &--item {
            width: 380px;
        }
    }
}
//delivery-options
.delivery-options {
    background-color: white;
    padding: 24px 50px;
}
//payment-options
.payment-options {
    padding-top: 30px;
    &--title {
        h6 {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #103742;
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            text-align: justify;
            color: #103742;
        }
    }
    &--items {
        display: flex;
        justify-content: space-between;
        padding-top: 38px;
        padding-bottom: 70px;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.4s all;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
                transition: 0.4s all;
            }
            .icon-gpay {
                width: 50px;
                height: 20px;
            }
            .icon-apple-pay {
                width: 51px;
                height: 24px;
            }
            .icon-mobile-payment {
                width: 31px;
                height: 31px;
            }
            .icon-debit-card {
                width: 31px;
                height: 31px;
            }
            .icon-payment-method {
                width: 31px;
                height: 31px;
            }
        }
    }
}
///// main scss end
/* On screens that are 992px wide or less,
 make the menu links stack on top of each 
 other instead of next to each other */
@media screen and (max-width: 992px) {
    //section-shop mobile
    .path-title {
        display: flex;
        padding: 20px 0;
        li {
            padding-right: 11px;
            a {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #a9a9a9;
            }
            .active {
                color: #000;
            }
        }
    }
    .section-title {
        h4 {
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 35px;
            color: #103742;
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #103742;
        }
    }
    .section-shop {
        flex-direction: column;
        &--left {
            width: 100%;
            .lSSlideOuter .lSPager.lSGallery {
                margin: 0 auto;
            }
            .lSAction > .lSNext {
                right: 0;
            }
            img {
                width: inherit;
                height: 420px;
                -o-object-fit: fill;
                object-fit: fill;
            }
        }
        &--right {
            padding-top: 36px;
            .info {
                &-shop {
                    width: unset;
                    .item {
                        img {
                            object-fit: none;
                        }
                    }
                    .shop-comment--title {
                        width: 100%;
                    }
                    .shop-comment {
                        flex-direction: column;
                        &--left {
                            width: 100%;
                            input {
                                width: 100%;
                                height: 44px;
                                padding-bottom: 0;
                            }
                        }
                        &--right {
                            .modal {
                                width: 100%;
                                height: 100%;
                                right: 0;
                                top: 0;
                            }
                        }
                        #js-text-block1 {
                            left: 23%;
                        }
                    }
                }
            }
            .size-options {
                .items {
                    align-items: center;
                    .item {
                        height: 76px;
                        padding: unset;
                        span {
                            font-size: 16px;
                        }
                        h6 {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    //section-information mobile
    .section-information {
        #tab-info {
            .nav-tabs {
                flex-wrap: unset;
                li {
                    padding-right: 28px;
                }
            }
            .tab-content {
                #nav-first {
                    ul {
                        li {
                            a {
                                padding-right: 112px; //
                            }
                        }
                    }
                }
                #nav-second {
                    h3 {
                        padding-top: 35px;
                        padding-bottom: 25px;
                    }
                    #tab-owl {
                        .owl-carousel {
                            .owl-nav {
                                flex-direction: unset; //
                                top: -60px;
                                right: -8px;
                                .owl-prev {
                                    margin-bottom: unset;
                                }
                            }
                        }
                    }
                }
                #nav-third {
                    h4 {
                        padding-top: 35px;
                        padding-bottom: 25px;
                    }
                    a {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 22px;
                        color: #103742;
                    }
                }
            }
        }
    }
    //section-gifs mobile
    .section-gifs {
        h4 {
            padding-bottom: 56px;
            text-align: center;
        }
        .owl-carousel {
            .owl-nav {
                flex-direction: unset;
                top: -34px;
                right: 17px;
                button {
                    margin-left: 6px;
                }
            }
        }
    }
    //section-delivery mobile
    .section-delivery {
        &--title {
            text-align: center;
        }
        &--items {
            flex-direction: column;
            text-align: center;
        }
        .delivery-options {
            &--items {
                display: flex;
                flex-direction: column;
            }
            &--item {
                width: 100%;
            }
        }
    }
    //payment-options mobile
    .payment-options {
        &--title {
            text-align: center;
            p {
                text-align: center;
            }
        }
        &--items {
            flex-wrap: wrap;
            padding-top: unset;
            .item {
                width: 50%;
                padding-top: 30px;
            }
        }
    }
}
